.scroll-content {
   direction: ltr; 
   text-align: right;
}
 
 .bar-side-menu {
   background-color: black;
 }
 
 .bar-content {
   background-color: blueish;
 }
 
 .button.button-positive {
   border-color: blueish;
    color: #fff;
 } 
 
 .item-divider {
   background-color: #fafafa;
 }